@page "/Game"
@using NationalityFindingGame.Components.Game
@using NationalityFindingGame.Models.Game
 


<h1 class="rounded shadow-lg px-3 Score"  >Score = @Points</h1>
<CascadingValue Value="@SelectedImage">
    <ImagePlaceHolder Content=@SelectedImage />
    @foreach (var item in nationalityPlaceHolderModels)
    {
        <NationalityPlaceHolderComponent OnStatusUpdated=SetPoints Position=@item.Position Content=@item.Content />
    }
</CascadingValue>



