@inherits LayoutComponentBase

<div class="page">
    
    <main> 

        <div class="main h-95 w-75 m-auto shadow-lg rounded mt-2" style="min-height:95vh;background-color:#eedf65;position: relative;" >
            @Body
        </div>
    </main>
</div>
